.app {
    width: 100%;
    position: relative;
    height: 100vh;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    background-color: #BCB6FF;
}

.app__title {
    margin: 0;
    padding: 15px;
    font-family: 'Fredoka One', cursive;
    text-align: center;
    font-size: 48px;
    height: 10%;
    color: #000000;
    letter-spacing: 10px;
}

.app__columnsContainer {
    width: 100%;
    height: 80%;
    border-radius: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.app__download {
    position: absolute;
    top: 10px;
    right: 10px;
}

@media (max-width: 1000px) {
    .app__title{
        font-size: 30px;
        letter-spacing: 5px;
    }
    
    .app {
        height: 100%;
    }

}
